<div class="container">
  <h2 class="heading mt-5 mb-5"><i class="far fa-id-badge fa-fw"></i>プロフィール</h2>
  <div class="row">
    <div class="left-content col-md-6 col-xs-12">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "icon_image" %><br>
      <% else %>
        <%= image_tag "default.png", class: "icon_image" %>
      <% end %>
      <div id="user_<%= @user.id %>">
        <div class="follow-count">
          <%= render "relationships/follow-count", user: @user %>
        </div>
        <% if current_user != @user %>
          <div class="follow-btn">
            <%= render "relationships/follow-btn", user: @user %>
          </div>
        <% end %>
      </div>
      <div class="chat">
        <% if current_user != @user %>
          <% if (current_user.following? @user) && (@user.following? current_user)  %>
            <%= link_to message_path(@user.id) do %>
              <i class="far fa-comments fa-2x my-gray"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="chat-index">
        <% if @user.id == current_user.id %>
          <%= link_to messages_path, class: "btn btn-info" do %>
            <i class="far fa-envelope fa-lg"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="right-content card col-md-6 col-xs-12">
      <div class="profile-name text-center mb-5 mt-5">
        <h5>ニックネーム</h5>
        <p><%= @user.name %></p>
      </div>
      <div class="profile-introduction text-center">
        <h5>紹介文</h5>
        <%= @user.introduction %>
      </div>
      <div class="profile-edit mt-5 text-right">
        <% if @user.id == current_user.id %>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            プロフィール編集
          </button>
        <% end %>
      </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:800px; margin-left: -150px;">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">プロフィール編集</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%= render "users/edit", user: @user %>
            </div>
          </div>
        </div>
    </div>
  </div>
  <h2 class="mt-5 mb-5"><i class="fas fa-book fa-fw"></i>本棚</h2>
  <div class="bookshelf mb-5">
    <div class="row">
      <% @books.each do |book| %>
        <div class="books card col-lg-3 col-md-4 col-xs-12">
          <div id="bookshelf_<%= book.id %>">
            <%= link_to book_path(book.id) do %>
              <%= image_tag book.image, class: "bookhover" %><br />
            <% end %>
            タイトル:<%= book.title %><br>
            著者名:<%= book.author %><br>
            <% if @user.id == current_user.id %>
              <%= link_to "本棚から外す", book_path(book), method: :delete, remote: true, class: "btn btn-secondary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>