
<div class="container">
  <h2 class="heading mt-5 mb-5">プロフィール</h2>
    <div class="row">
      <div class="left-content col-6">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: "icon_image" %><br>
        <% else %>
          <%= image_tag "default.png", class: "icon_image" %>
        <% end %>
        <div id="user_<%= @user.id %>">
          <div class="follow-count">
            <%= render "relationships/follow-count", user: @user %>
         </div>
        <% if current_user != @user %>
            <div class="follow-btn">
              <%= render "relationships/follow-btn", user: @user %>
            </div>
        <% end %>
         </div>
         <div class="chat">
          <% if current_user != @user %>
            <% if (current_user.following? @user) && (@user.following? current_user)  %>
              <%= link_to message_path(@user.id) do %>
                <i class="far fa-comments fa-2x my-gray"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="chat-index">
          <% if @user.id == current_user.id %>
            <%= link_to 'DM', messages_path, class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
      <div class="right-content card col-6">
        <div class="profile-name text-center mb-5 mt-5">
          <h5>ニックネーム</h5>
            <p><%= @user.name %></p>
        </div>
        <div class="profile-introduction text-center">
          <h5>紹介文</h5>
            <%= @user.introduction %>
        </div>
        <div class="profile-edit mt-5 text-right">
        <% if @user.id == current_user.id %>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-info" %>
        <% end %>
        </div>
      </div>
    </div>
    <h2 class="mt-5 mb-5">本棚</h2>
     <div class="bookshelf mb-5">
      <div class="row">
        <% @books.each do |book| %>
          <div class="books card col-3">
            <div id="bookshelf_<%= book.id %>">
              <%= link_to book_path(book.id) do %>
                <%= image_tag book.image, class: "bookhover" %><br />
              <% end %>
              タイトル:<%= book.title %><br>
              著者名:<%= book.author %><br>
              <% if @user.id == current_user.id %>
                <%= link_to "本棚から外す", book_path(book), method: :delete, remote: true, class: "btn btn-warning" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>