<div class="container">
  <h1 class="mb-5">マイページ</h1>
  <h2 class="heading">プロフィール</h2>
    <div class="profile-group">
      <div class="left-content">

        <%= image_tag @user.image.to_s, class: "icon_image" %><br>

        フォロー数:
        <%= link_to user_followings_path(@user) do %>
          <%= @user.followings.count %>
        <% end %>
        フォロワー数:
        <%= link_to user_followers_path(@user) do %>
          <%= @user.followers.count %>
        <% end %>
        <% if current_user != @user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
         <% else %>
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
          <% end %>
        <% end %>

        <% if current_user != @user %>
          <% if (current_user.following? @user) && (@user.following? current_user)  %>
            <%= link_to 'chatを始める', message_path(@user.id) %>
          <% end %>
        <% end %>

        <%= link_to 'DM一覧へ', messages_path %>

      </div>
      <div class="right-content">
        <div class="profile-name">
          <h3>ニックネーム</h3>
            <%= @user.name %>
        </div>
        <div class="profile-introduction">
          <h3>紹介文</h3>
            <%= @user.introduction %>
        </div>
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
        <% end %>
      </div>
    </div>
</div>

<% @books.each do |book| %>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.image %><br />
    <%= book.title %>
    <%= book.author %>
  <% end %>
  <% if @user.id == current_user.id %>
    <%= link_to "本棚から外す", book_path(book), method: :delete %>
  <% end %>
<% end %>
