<div class="container">
  <h1 class="mb-5">マイページ</h1>
  <h2 class="heading">プロフィール</h2>
    <div class="profile-group">
      <div class="left-content">
        <%= image_tag @user.image.to_s, class: "icon_image" %>
        <!--フォロー一覧-->
        <!--フォロワー一覧-->
        <!--DM-->
      </div>
      <div class="right-content">
        <div class="profile-name">
          <h3>ニックネーム</h3>
            <%= @user.name %>
        </div>
        <div class="profile-introduction">
          <h3>紹介文</h3>
            <%= @user.introduction %>
        </div>
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
        <% end %>
      </div>
    </div>
</div>

<% @books.each do |book| %>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.image %><br />
    <%= book.title %>
    <%= book.author %>
  <% end %>
  <% if @user.id == current_user.id %>
    <%= link_to "本棚から外す", book_path(book), method: :delete %>
  <% end %>
<% end %>
