<h2 class="m-5">レビュー編集</h2>
<div class="container">
  <div class="row mt-5">
    <div class="form">
      <%= form_with model:@book, local: true do |f| %>
        <div class="form-group">
          <%= f.label "感想" %><br />
          <%= f.text_area :review, size: "60x7" %>
        </div>
        <div class="field" id="star">
          <%= f.label :rate, "星評価：" %>
          <%= f.hidden_field :rate, id: :review_star %>
          <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'book[rate]',
              half: true,
            });
          </script>
        </div>
        <div class="text-center mt-5">
          <%= f.submit "レビューを投稿する", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>