<div class="rank">
<h1 class="m-5">人気ランキング</h1>
<% @book_ranks.each.with_index(1) do |book, i| %>
  <div class="book_ranks card">
    <p style="font-size: 40px;">第<%= i %>位 <%= book.title %></p>
    <div class="book_image text-center mb-3">
      <%= link_to 'books/search?utf8=✓&keyword=' + (book.title + book.author) + '&commit=検索', data: {"turbolinks" => false} do %>
        <%= image_tag book.image, class: "bookhover" %>
      <% end %>
    </div>
    <div class="card-text text-center mb-3">
      著者名：<%= book.author %><br>
      出版日：<%= book.published_date %><br>
    </div>
    <p class="info text-center">本の説明<br><%= book.description %></p>
  </div>
<% end %>
</div>