<div class="search-page">
<h1>
  <i class="fas fa-search">タイトル・著者名でさがす</i>
</h1>

  <div class="search-form">
    <%= form_tag('/books/search', method: :get) do %>
    <%= search_field_tag "keyword", params[:keyword], placeholder: "タイトル・著者名で検索", size: 30 %>
    <%= submit_tag "検索", class: "btn btn-primary" %>
    <% end %>
  </div>

<% if @books.present? %>
  <div class="search_result">
    <h2>検索結果</h2>
    <% @books.each do |book| %>
      <%= form_with model:@book, url: books_path, method: :post, local: true do |f| %>
        <img src="<%= book[1] %>" width="100" vspace="10">
        <%= book[0] %> |
        <%= book[2] %>
        <%= f.hidden_field :title, value: book[0] %>
        <%= f.hidden_field :image, value: book[1] %>
        <%= f.hidden_field :author, value: book[2] %>
        <%= f.hidden_field :code, value: book[3] %>
        <%= f.hidden_field :description, value: book[4] %>
        <%= f.hidden_field :published_date, value: book[5] %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "本棚に追加する", class: "btn btn-success" %><br>
      <% end %>
    <% end %>
<% else %>
  <p>タイトル・著者名で検索してみよう！</p>
 </div>
<% end %>

<div class="container">
  <% if @books.present? %>
    <%= paginate @books %>
  <% end %>
</div>