<h1>本詳細</h1>

<%= image_tag @book.image %><br />
<%= @book.title %>
<%= @book.author %>
<%= @book.description %>
<%= @book.published_date %>

<% if @book.user_id == current_user.id %>
  <%= link_to "レビュー", edit_book_path(@book) %>
<% end %>

<%= @book.review %>