<div class= "book-detail m-5">
  <div class="book-text card mb-5">
    <div class="book-image">
      <%= image_tag @book.image, size: '280x400'%>
    </div>
    <div class="book-title">
      タイトル：<%= @book.title %><br>
      著者名：<%= @book.author %><br>
      出版日：<%= @book.published_date %><br>
    </div>
  </div>
  <div class="book-rate">
    評価：<%= @book.rate %>点 | <%= @book.title %>
    <div id="star-rate-<%= @book.id %>"></div>
    <script>
      $('#star-rate-<%= @book.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @book.rate %>,
      });
    </script>
  </div>
  <div class="book-review card">
    <%= @book.review %>
  </div>
  <div class="review-edit">
    <% if @book.user_id == current_user.id %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        レビューを書く
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width:740px; margin-left: -120px;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">レビュー</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= render "books/edit", book: @book %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="book_<%= @book.id %>">
    <div class="favorite-btn">
      <%= render "favorites/favorite-btn", book: @book %>
    </div>
    <div class="comments-count">
      コメント件数：<%= @book.comments.count %>
    </div>
    <div class="comments card">
      <%= render 'comments/index', book: @book %>
    </div>
  </div>
  <div class="new-comment">
    <%= form_with model:[@book, @comment] do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_area :comment, size: "30x3", placeholder: "コメントをここに" %><br>
      <%= f.submit "送信する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>